html,
body {
    color: var(--black);
    font-family: 'Open Sans';
    font-size: var(--text-size-base);
    line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--black);
}

a {
    color: var(--black);
}
