html,
body {
  color: var(--black);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: var(--text-size-base);
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
}

a {
  color: var(--black);
}
